@using TarefaWeb.Models
@model List<Tarefa>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Avaliação 01</title>
</head>
<body>
    
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Concluída</th>
            <th>Ação</th>
        </tr>

        <!-- Implementar este trecho de código para exibir as tarefas existentes -->
         <!-- Início -->

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="#"></a></td>
        </tr>

        <!-- Fim -->

    </table>

</body>
</html>